{% extends 'partials/bodyindex.html' %} {% load static %} {% block contenido %}
<main class="main">
  <div class="cuadroH2 tituloNav mx-auto">
    <h1 class="video-ayuda my-5">Modulo de ayuda</h1>
    
  </div>
  <div class="container p-5 ">
    
    <div class="row container-video-padre">
      <div class="container-video col-md-6">
        <h2 class="texto-video">1°¿Cómo creo una cuenta e inicio sesión?</h2>
        <iframe class="videos" src="https://www.youtube.com/embed/JXFABy9GgJc" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="container-video col-md-6">
        <h2 class="texto-video">2°¿Cómo cierro sesión?</h2>
        <iframe class="videos" src="https://www.youtube.com/embed/DwPQbeZl7H8" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="container-video col-md-6">
        <h2 class="texto-video">3°¿Cómo recupero mi contraseña?</h2>
        <iframe class="videos" src="https://www.youtube.com/embed/DwPQbeZl7H8" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      
      
    </div>
  </div>
</main>
{% endblock %}